<form method="POST" action="/figures">
	<p>Name: <input type="text" id="figure_name" name="figure[name]"></p>
	<p>Landmark: <input type="text" id="new_landmark" name="landmark[name]"></p>
	<p>Title: <input type="text" id="new_title" name="title[name]"></p>
	<%Landmark.all.each do |landmark|%>
	<input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>"><label><%=landmark.name%></label>
	<%end%>
	<br>
	<br>
	<%Title.all.each do |title|%>
	<input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><label><%=title.name%></label>
	<%end%>
	<input type="submit" value="Create New Figure">
</form>